@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primaryGreen: #116427;
  --primaryDark: #1E1E1E;
  --secondaryBackground: #E0E0E0;
  --textColor: #D8D8D8
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --primaryGreen: #116427;
    --primaryDark: #1E1E1E;
    --secondaryBackground: #E0E0E0;
    --textColor: #D8D8D8
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
