@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e4e4e4;
  --foreground: #171717;
  --primaryGreen: #116427;
  --primaryDark: #1e1e1e;
  --secondaryBackground: #e0e0e0;
  --textColor: #1e1e1e;
}

/* this wasnt working from the docs recommendation */
.react-multi-carousel-track {
    height: 100% !important;
  }

.masonry-grid_column {
    padding-left: 4px; /* gutter size */
    background-clip: padding-box;
  }

  .grid-item {
    margin-bottom: 10px;
  }

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e4e4e4;
    --foreground: #171717;
    --primaryGreen: #116427;
    --primaryDark: #1e1e1e;
    --secondaryBackground: #e0e0e0;
    --textColor: #d8d8d8;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
}
